---

---

<div class="light:bg-primary-light dark:bg-primary-dark py-16 no-content">
  <div class="mx-auto grid max-w-7xl grid-cols-1 gap-10 lg:grid-cols-12 lg:gap-8">
    <h2
      class="max-w-xl text-balance text-3xl font-semibold tracking-tight light:text-text-light dark:text-text-dark sm:text-4xl lg:col-span-7"
    >
      Get notified when we’re launching our Pro version
    </h2>
    <form
      class="w-full max-w-md lg:col-span-5 lg:pt-2"
      method="POST"
      action="https://app.convertkit.com/forms/7469948/subscriptions"
    >
      <div class="flex gap-x-4">
        <label for="email-address" class="sr-only"> Email address </label>
        <input
          id="email-address"
          name="email_address"
          type="email"
          autocomplete="email"
          required
          class="min-w-0 flex-auto rounded-md light:bg-white dark:bg-white/5 px-3.5 py-2 text-base light:text-text-light dark:text-text-dark outline outline-1 -outline-offset-1 light:outline-gray-300 dark:outline-white/10 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
          placeholder="Enter your email"
        />
        <button
          type="submit"
          class="flex-none rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Notify me
        </button>
      </div>
    </form>
  </div>
</div>
