---
import Logo from "./Logo.astro";
import openaiLockup from "../assets/openai-lockup.svg";
import anthropic from "../assets/anthropic.svg";
import meta from "../assets/meta.svg";
---

<div class="bg-primary-light dark:bg-primary-dark py-8 not-content">
  <div class="mx-auto max-w-7xl">
    <h2 class="text-center text-lg/8 font-semibold text-text-light dark:text-text-dark">Integrates with</h2>
    <div class="mx-auto mt-10 max-w-none gap-x-10 gap-y-10 flex justify-center items-center flex-wrap">
      <Logo src={openaiLockup.src} alt="OpenAI" className="h-10" />
      <Logo src={anthropic.src} alt="Anthropic" />
      <Logo src={meta.src} alt="Meta Llama" className="h-7" />
    </div>
  </div>
</div>
