---
import Logo from "./Logo.astro";
import microsoftForStartupsLight from "../assets/microsoft-for-startups-light.jpg";
import microsoftForStartupsDark from "../assets/microsoft-for-startups-dark.jpg";
import awsForStartups from "../assets/aws-for-startups.svg";
---

<div class="bg-primary-light dark:bg-primary-dark py-8 not-content">
  <div class="mx-auto max-w-7xl">
    <h2 class="text-center text-lg/8 font-semibold text-text-light dark:text-text-dark">Supported by</h2>
    <div class="mx-auto mt-10 grid max-w-lg grid-cols-2 items-center gap-x-8 gap-y-10">
      <Logo src={microsoftForStartupsLight.src} alt="Microsoft for Startups" className="block dark:hidden" />
      <Logo
        src={microsoftForStartupsDark.src}
        alt="Microsoft for Startups"
        className="hidden dark:block dark:invert-0 dark:brightness-100"
      />
      <Logo src={awsForStartups.src} alt="AWS for Startups" />
    </div>
  </div>
</div>
