---
import Pattern from "../components/Pattern.astro";
import "../styles/global.css";
interface Props {
  title: string;
  description: string;
  pubDate: Date;
  author: {
    name: string;
    image: string;
  };
  tags?: string[];
}

const { title, pubDate, author, tags } = Astro.props;
---

<Pattern title={title} date={pubDate} author={author} tags={tags} mode="post" />

<main class="max-w-4xl mx-auto px-4 py-18">
  <article class="prose dark:prose-invert lg:prose-x flex flex-col gap-14">
    <slot />
  </article>
</main>
